---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left

