# Ignore everything
*

# ... Except
!.gitignore
!.bashrc
!.npmrc
!.tmux.conf
!.clang-format
!symlinks.sh

!hypr/
!hypr/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!waybar
!waybar/**

!wofi/
!wofi/**

!yazi/
!yazi/**
