* {
    font-family: "Fira Code", monospace;
    font-size: 1.1rem;
}

window#waybar {
    padding: 0.2em;
    border: 2px solid;
    border-image: linear-gradient(to right, #33ccff, #00ff99) 1;
    background: rgba(40, 40, 40, 0.5);
}

#right eventbox {
    margin-right: 1em;
    border: 1px solid #c2255c;
    border-radius: 50%;
}
